files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC1DCCAbwCCQCSINRKFuSxwzANBgkqhkiG9w0BAQUFADAsMQswCQYDVQQGEwJV
      UzELMAkGA1UECAwCV0kxEDAOBgNVBAcMB01BRElTT04wHhcNMjIxMTAxMjAzMTI5
      WhcNMjMxMTAxMjAzMTI5WjAsMQswCQYDVQQGEwJVUzELMAkGA1UECAwCV0kxEDAO
      BgNVBAcMB01BRElTT04wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC1
      WjWLespfE7nM/+OqBj7WMIDD+apPXn7trG7oTkMZXsJlIGF2Dj/zU/6GvyuAPDuz
      YSf7pzfTTj0eIByet1DCGqx1ThSQW04XNvDfGhPeQ5VDX3bZ46guCD/mI9rHWAnK
      jlP7YjdVkxxRXiUj6tRmonlpkdss/U4CfEk3SXISGdrBhUVYJwbb7ZbZ8V5vVfVp
      ptRbFsNWRTOuEHagMFpk4FD1VqVVvNwoYcN4RUmUSbu28qXcfX7+YmsjYXK5sHhE
      lWnTjQntZGV5MJTus6qS3/Lyu2aPS+93NtU0g5aTeAQISl0p32gE4PJTZluLBQKK
      eEmVmSl8Zt0m9SGFLFPPAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAB6Fbjp9eJfj
      xUqnmqZK1XSXBnNhv6DjtCz6n9cGCfRA1gAd698K1UshoOvHrRQ6DFBeuUFK3RR8
      jrCPb0T7dHgLZhG3rqz7krlx0dEd+W+M3cWbNqeL1Qae5numA1wdx3775HzKXscH
      mqJNFjdPp/QRUY2h6WCjCx8YooJfxU0ROaZclENIr/UPuH8sqcO5vk7dJ56IuXkd
      mRP2M0H+KiCQjIzS7uHi95kDCqHhkmSla/SCOEbs22w6YhRex7LUEAKjzQQF8sc2
      SWgsDhH46U4QOQLUjD3I42GIlbniKhaT+sCB8ihL7OBVk/salTS6sCCxxruhgM+9
      LWloPmXI5f4=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAtVo1i3rKXxO5zP/jqgY+1jCAw/mqT15+7axu6E5DGV7CZSBh
      dg4/81P+hr8rgDw7s2En+6c30049HiAcnrdQwhqsdU4UkFtOFzbw3xoT3kOVQ192
      2eOoLgg/5iPax1gJyo5T+2I3VZMcUV4lI+rUZqJ5aZHbLP1OAnxJN0lyEhnawYVF
      WCcG2+2W2fFeb1X1aabUWxbDVkUzrhB2oDBaZOBQ9ValVbzcKGHDeEVJlEm7tvKl
      3H1+/mJrI2FyubB4RJVp040J7WRleTCU7rOqkt/y8rtmj0vvdzbVNIOWk3gECEpd
      Kd9oBODyU2ZbiwUCinhJlZkpfGbdJvUhhSxTzwIDAQABAoIBAALFGvZDbN3g5kCc
      U/Tf3YvV99GGebR2pAerT5Jax6mWie+TfAmalB16VfPm7Zoq0VqfDEZKuo6Orl5M
      bUN7V09vqtyr0aKW0m2GWE2AD3egnqIFzkHruUDivV8dgxTyYkvmup+nU2MKOS+A
      +Z4/0viyWJplMOzR/aQKE/A1PfnKxrb7u6mFD0SvWSJPkXFnDf+ZSuiWpuKaJo0l
      WQUJwGXVkW2KDifVALqdDWcgCQJfphJiCzn+kc3TnVOuotHIR3bksEE7+EpLEqSk
      Z9XWskcI4vJmRYhYT3eLI37uRIZ0VFqxqNZ0ts7EHKhPbCQg5Nx3uRKOip9SrRNR
      4As664kCgYEA4QbH0crr+wKqsINpg5X5fhrnhSJyQuQK9oFu3w7oHqx6vAYHG+Ir
      nervbVXdlQ6btcHIAHU14yv7fFefBw3DQ/UcMbJxZvkfc8XyODASLKCnKIAvRYNt
      9EPDoqT1NKTn4qRYUO3N843LqMrlDfZ5HJCDN5xvpWZKDV4obrADB+UCgYEAzlB9
      3JkQ5xY5/riOkTPEc49gTHBAYnWLA8/SZZlEzBDknqApglHEwo7USEdgQRO0jwdL
      ezIjFrvKH0+7pJh2/MUTpqFvIXr0JS16FZXU3etGWZdRlL2mRvBKRLNrvY81ImhK
      JMGuahzTc+D44DyPvLWGMd6p2pAGtzvlqyImSaMCgYA7OO2d6SnyBeGmUu+SEgZ3
      id0kzMwFjr7T4Xysd9/fMsWadnuoev2/sfURcWe/sviH/VgFxtNH1mt5bhYMZTLe
      z8N70NrHnwkIDzCQWRZvaFiV8CaAxPZLMwpp48Ak+sGMhHQ52Fw7nTXcVomyAwwc
      2GuwVxuLDECxA/bgKrKhgQKBgQC80Hl/jC4l7veAoNMJHEFsKQlOq2ShN0XUZTv+
      c3i88bDpY1bZx4+1JxYsV/ZFWI1kYJ65zrbCNXbTlRr7lfU/e/VyCEg2cdpCtA4I
      9yjrOEkX8R5ea/pi7cJqgXHW99r+9Eb2wLKotlzmrjvWrFY3tEFuHoOAXVNoGk8k
      gYpc1QKBgHx7gvt8qYYr/9CX9IKMJJKEK90E15kdBel9gmyFDlzSI1psilOD2HY+
      5mNUGYW86X7oIuh9oN8av/xAj5h00Tc1pDjDEM/AXYZwsOURHNv2XC6VQRHoGEOI
      LnqtCiskRetqazGB3lqFuJaAibIxKvC+DLlYx+nLYEcP61NFJLay
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart